
.post {
  background-image: url('https://images7.alphacoders.com/628/628592.jpg');
}

.comp-post-container {
  display: grid;
  place-items: center;

  height: 100vh;
  width: 100vw;
}


.comp-post-body {
  display: grid;
  grid-template-rows: 1.5fr 3fr;
  position: static;
  
  background-image: url('https://images4.alphacoders.com/628/628590.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 800px;
  width: 600px;
  // background: $color-2-light;
  border-radius: 15px;
  box-shadow: 0px 0px 15px 5px rgba(10, 0, 31, .6);
}

.comp-post-image-container {
  // height: 100%;
  // width: 100%;
  overflow: hidden;
  grid-column-start: 1;
  grid-column-end: 2;
  border-radius: 15px 15px 0px 0px;
}

.comp-post-image {
  width: 100%;
  height: auto;
  min-height: 100%;
  min-width: 100%;
  object-position: center;
  overflow: hidden;
}

.comp-post-wrapper {
  grid-row: 2;
  border-radius: 0px 0px 15px 15px;
  background: linear-gradient(rgba(56,29,112, .7), rgba(10, 0, 31, 1));
  overflow: scroll;
  // opacity: .8;
}

.comp-post-wrapper > * {
  margin: 20px;
}

.comp-post-mobile-nav {
  display: none;
}

// Media
@media screen and (max-height: 800px), screen and (max-width: 700px) {
  .comp-post-body {
    display: grid;
    grid-template-rows: 1.5fr 3fr;
    
    background-image: url('https://images4.alphacoders.com/628/628590.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    // background: $color-2-light;
    border-radius: 15px;
    box-shadow: 0px 0px 15px 5px rgba(10, 0, 31, .6);
  }

  .comp-post-mobile-nav {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 999;
    height: 33.333vh;
    width: 100vw;
    grid-template-rows: 5fr 1fr;
    justify-items: center;
    display: grid;
    pointer-events: none;
    touch-action: none;
  }

  .mobile-go-to {
    grid-row: 2;
    pointer-events: auto;
    touch-action: auto;
  }

  .comp-post-footer {
    display: none;
  }

  .comp-post-image-container {
    grid-column-start: 1;
    grid-column-end: 2;
    overflow: hidden;
    display: grid;
    border-radius: 0px 0px 0px 0px;
  }
}