<!doctype html>
<html lang="en">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=<Google Tracking ID>"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', '<Google Tracking ID>');
  </script>

  <meta charset="UTF-8" />
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="css/index.css" rel="stylesheet">
</head>

<body>
   <main>
     <h1>beauty & fitness posts</h1>
     <div>
      {{#each posts}}
      <a
      href="../{{ path }}">
        <span>{{title}}</span>
        <time datetime="{{date}}">{{date}}</time>
     </a>
      {{/each}}
     </div>
   </main>

  <footer>
    <a href="../menu">(return home)</a>
  </footer>

</body>

</html>