<!doctype html>
<html lang="en">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-167496250-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-167496250-1');
  </script>

  <meta charset="UTF-8" />
  <title>{{ title }}</title>
  <meta name="description" content="The landing page for 1vee1, a Rocket League 1v1 news blog">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="css/index.css" rel="stylesheet">

  <!-- Global site tag (gtag.js) - Google Analytics -->

</head>

<body class="nav">

  <nav class="comp-nav-list">
    <li>
      <a href="/posts/">Posts</a>
    </li>
    <li>
      <a href="/leaderboard/">Leaderboard</a>
    </li>
    <li>
      <a href="/about/">About</a>
    </li>
    <li>
      <a href="/contact">Contact</a>
    </li>
    <li>
      <a href="/showmatch/">Showmatch</a>
    </li>
  </nav>

  {{{ contents }}}

</body>

</html>