<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="css/index.css" rel="stylesheet">
</head>

<body class="nav">

  <nav class="comp-nav-list">
    <li>
      <a href="javascript:history.back()">&larr; Go Back</a>
    </li>
    <li>
      <a href="/posts/">Posts</a>
    </li>
    <li>
      <a href="/leaderboard/">Leaderboard</a>
    </li>
    <li>
      <a href="/about/">About</a>
    </li>
    <li>
      <a href="/contact">Contact</a>
    </li>
    <li>
      <a href="/showmatch/">Showmatch</a>
    </li>
  </nav>

  {{{ contents }}}

</body>

</html>