<!doctype html>
<html lang="en">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=<Google Tracking ID>"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', '<Google Tracking ID>');
  </script>
  
  <meta charset="UTF-8" />
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="css/index.css" rel="stylesheet">
</head>

<body>
  <div>
    <img src="{{logo}}" alt="Beauty and the Breakpoint" class="center"/>
  </div>

  <nav class="navbar">
      <!-- <a href="javascript:history.back()">&larr; Go Back</a> -->
      <a href="/tech/">tech & gaming</a>
      <a href="/beauty/">beauty & fitness</a>
      <a href="/crafting/">crafting</a>
      <a href="/adventuring/">adventuring</a>
      <a href="/about/">about</a>
      <a class="right" href="/contact">contact</a>
  </nav>

  <div class="row">
    <div class="side">...</div>
    <div class="main">...</div>
  </div>

  <div class="footer">
    <h2>Footer</h2>
  </div>

  {{{ contents }}}

</body>

</html>