<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="css/index.css" rel="stylesheet">
</head>

<body class="posts">
  <!-- <nav>
      <a class="test" href="/">Home</a>

      <a class="test" href="/posts/first-post/">Test</a>
      
      <a href="/posts/second-post/">About</a>
      
      <a href="/posts/third-post/">Again</a>
      
      <a href="/posts/fourth-post/">Let's nav</a>
  </nav> -->
<!-- 
  <nav class="comp-nav-list">
    <li>
      <a class="test" href="/">Home</a>
    </li>
    <li>
      <a class="test" href="/posts/first-post/">Test</a>
    </li>
    <li>
      <a href="/posts/second-post/">About</a>
    </li>
    <li>
      <a href="/posts/third-post/">Again</a>
    </li>
    <li>
      <a href="/posts/fourth-post/">Let's nav</a>
    </li>
  </nav>

   -->

   <main class="comp-pc-posts">
     <h1 class="comp-pc-title">Rocket League Posts</h1>
     <div class="comp-pc-post-items">
      {{#each posts}}
      <a class="comp-pc-post-item"
      href="../{{ path }}">
        <span class="comp-pc-post-title">{{title}}</span>
        <small class="comp-pc-post-date">{{date}}</small>
     </a>
      {{/each}}
     </div>
   </main>


<!-- 
  <h1>{{ title }}</h1>
  <p>{{ description }}</p>

  {{{ contents }}} -->

  <footer>
    <a href="../menu" class="go-to-menu">(click here for menu)</a>
  </footer>

</body>

</html>