<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/css/index.css" rel="stylesheet">
</head>

<body class="post comp-post-container">
  <!-- <header>
    <p>
      <a href="/">Home</a>
    </p>

  </header> -->
  <!-- <main class="comp-post-container"> -->
    <article class="comp-post-body">
      <div class="comp-post-wrapper">
        <h1>{{ title }}</h1>
        <time>{{ date }}</time>
        {{{ contents }}}
      </div>
    </article>
  <!-- </main> -->

  <footer>
    <a href="/menu" class="go-to-menu">(click here for menu)</a>
  </footer>
</body>

</html>