<!doctype html>
<html lang="en">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=<Google Tracking ID>"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', '<Google Tracking ID>');
  </script>

  <meta charset="UTF-8" />
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="amphtml" href="{{ampLink}}">
  <link rel="canonical" href="{{ nonAmpLink }}">
  <link href="/css/index.css" rel="stylesheet">
</head>

<body class="post comp-post-container">

  <main>
    <aside>
      <img src="{{image}}" alt="{{alt}}">
      <div>
        <a href="/menu" class="go-to-menu mobile-go-to">(click here for menu)</a>
      </div>
    </aside>
    <article>
      <h1>{{ title }}</h1>
      <small>By <a href = "mailto: hiya@gmail.com">Mike Tyson</a></small>
      <br>
      <time datetime="{{date}}">{{ date }}</time>
      {{{ contents }}}
    </article>
  </main>

  <footer>
    <a href="/menu" class="go-to-menu">(click here for menu)</a>
  </footer>
</body>

</html>