h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

span, p, a, label, input, strong, button, small, li {
  font-family: 'Source Sans Pro', sans-serif;
}

article a {
  font-family: 'Source Sans Pro', sans-serif;
  text-decoration: underline;
}

time {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: smaller;
}