:root {
  font-size: 16px;
  font-family: 'Alex Brush';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Alex Brush', sans-serif;
}

span, p, a, label, input, strong, button, small, li {
  font-family: 'Alex Brush', sans-serif;
}

time {
  font-family: 'Alex Brush', sans-serif;
  font-size: smaller;
}

body {
  background-color: #8ce8d1,
}

/* Style the top navigation bar */
.navbar {
  overflow: hidden; /* Hide overflow */
  background-color: #333; /* Dark background color */
}

/* Style the navigation bar links */
.navbar a {
  float: left; /* Make sure that the links stay side-by-side */
  display: block; /* Change the display to block, for responsive reasons (see below) */
  color: white; /* White text color */
  text-align: center; /* Center the text */
  padding: 30px 40px; /* Add some padding */
  text-decoration: none; /* Remove underline */
  font-size: x-large;
  transition: width 600ms ease;
}

/* Right-aligned link */
.navbar a.right {
  float: right; /* Float a link to the right */
}

/* Change color on hover/mouse-over */
.navbar a:hover {
  opacity: 1;
  transition: all .5s;
  background-color: #ddd; /* Grey background color */
  color: black; /* Black text color */
}

/* Ensure proper sizing */
* {
  box-sizing: border-box;
}

/* Column container */
.row { 
  display: flex;
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 30%; /* Set the width of the sidebar */
  background-color: #f1f1f1; /* Grey background color */
  padding: 20px; /* Some padding */
}

/* Main column */
.main { 
  flex: 70%; /* Set the width of the main content */
  background-color: white; /* White background color */
  padding: 20px; /* Some padding */
}

.footer {
  padding: 20px; /* Some padding */
  text-align: center; /* Center text*/
  background: #ddd; /* Grey background */
}