$color-1: #772138;
$color-2: #5e35b1;
$color-3: #FFFCF5;

$color-2-light: #a67aff;

$color-1-bright: #ffcfdb;
$color-2-bright: #f3edff;

$color-2-dark: #331d61;

$border-radius-xs: 1px;
$border-radius-s: 2px;
$border-radius-m: 5px;
$border-radius-l: 7px;
$border-radius-xl: 10px;
