@import './normalize.scss';
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Source+Sans+Pro:200,400');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import './html';

img {
  width: 30vw;
  height: auto;
}